*.class

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Gradle
!gradle-wrapper.jar
.gradle/
build/

# Maven
log/
target/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
